*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    min-height: 100vh;
    width: 100%;
    background: #f2f2f2;
  }

  .container .registration{
    display: none;
  }
  #check:checked ~ .registration{
    display: block;
  }
  #check:checked ~ .login{
    display: none;
  }
  #check{
    display: none;
  }
  .container .form{
    padding: 2rem;
  }
  .form header{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
  }
   .form input{
     height: 50px;
     width: 100%;
     padding: 0 15px;
     font-size: 17px;
     margin-bottom: 1.3rem;
     border: 1px solid #ddd;
     border-radius: 6px;
     outline: none;
   }
   .form input:focus{
     box-shadow: 0 1px 0 rgba(0,0,0,0.2);
   }
  .form a{
    font-size: 14px;
    color: #36b9cc;
    text-decoration: none;
  }
  .form a:hover{
    text-decoration: underline;
  }
  .form input.button{
    color: #fff;
    background: #009579;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
  }
  .form input.button:hover{
    background: #006653;
  }
  .signup{
    font-size: 15px;
    text-align: center;
  }
  .signup label{
    color: #009579;
    cursor: pointer;
  }
  .signup label:hover{
    text-decoration: underline;
  }

  #layoutLogin {
    height: max-content;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    background: rgba(183, 196, 194, 0.7); /* Warna abu-abu dengan tingkat transparansi 0.7 */
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#buttonLogin{
background-color: #36b9cc;
margin: 10px 10px;
}

  .navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
    display: none;
}

.form-group.d-flex.justify-content-center {
    display: flex;
}


